# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
.venv/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Model checkpoints and large data files
training_checkpoints/
organized_cars_dataset/
cars_test/
cars_train/
cars_annos.mat

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/

# Log files
*.log